.container{
    display: flex;
    background-color: white;
    max-width: 1024px;
    margin: auto;
    column-gap: 30px;
    text-transform: uppercase;
    padding: 20px;
    align-items: center;
    position: fixed;
    min-width: 100vw;
    max-height: 120px;
    top: 0;
    justify-content: center;
}
.item{
    display: flex;
    font-family: "Open Sans Regular Bold";
    letter-spacing: 1.2px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}
.item:hover{
    opacity: 0.5;
}
.logo{
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 80px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets//images/header-logo.png');
}
.logo:hover{
    transform: scale(1.1);
}