.container{
    display: flex;
    background-color: white;
    max-width: 1024px;
    margin: auto;
    text-transform: uppercase;
    padding: 20px;
    align-items: center;
    position: fixed;
    min-width: 100vw;
    max-height: 120px;
    top: 0;
    justify-content: center;
    z-index: 1;
}
.list{
    flex-basis: 40%;
    display: flex;
    column-gap: 20px;
}
.list:first-child{
    justify-content: flex-end;
}
.item{
    display: flex;
    font-family: "Open Sans Regular Bold";
    letter-spacing: 1.2px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-size: 9px;
}
.item:hover{
    opacity: 0.5;
}
.logo{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets//images/header-logo.png');
}
.logo:hover{
    transform: scale(1.1);
}