* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  color: black;
  max-width: 2560px;
  font-family: Helvetica;
  transition: all 0.4s ease 0s;
  outline: none;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 2560px;
  margin: auto;
  background-color: white;
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("OpenSansRegular"),
  url("./fonts/Open Sans /OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Regular Bold";
  src: local("OpenSansRegularBold"),
  url("./fonts/Open Sans /OpenSans-Regular.ttf") format("truetype");
  font-weight: bold;
}